<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Appfast - Responsive OnePage HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">    
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="app_version" data-spy="scroll" data-target="#navbarApp" data-offset="98">

    <div id="team" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>The Dev Team</h3>
                <p class="lead">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, true generator<br> on the Internet. It uses a dictionary of over..</p>
            </div><!-- end title -->

            <div class="row dev-list text-center" style="padding: 10px">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <img src="uploads/team_01.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Soren Bo Bostian</h3>
                            <small>Senior Art Director</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>

                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <img src="uploads/team_02.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>MV Pushpalatha</h3>
                            <small>HOD of Computer Science</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="widget clearfix">
                        <img src="uploads/team_03.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Anil</h3>
                            <small>Front End Developer</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->
            </div><!-- end row -->
            <div class="row dev-list text-center" style="padding: 10px">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <img src="uploads/team_01.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Soren Bo Bostian</h3>
                            <small>Senior Art Director</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook" style="padding: 2px"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github" style="padding: 2px"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin" style="padding: 2px"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <img src="uploads/team_02.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Bryan Saftler</h3>
                            <small>Creative Technologist Microsoft</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="widget clearfix">
                        <img src="uploads/team_03.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Matthew Bayliss</h3>
                            <small>Front End Developer</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->
            </div><!-- end row -->            
            <div class="row dev-list text-center" style="padding: 10px">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <img src="uploads/team_01.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Soren Bo Bostian</h3>
                            <small>Senior Art Director</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <img src="uploads/team_02.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Bryan Saftler</h3>
                            <small>Creative Technologist Microsoft</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="widget clearfix">
                        <img src="uploads/team_03.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Matthew Bayliss</h3>
                            <small>Front End Developer</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->
            </div><!-- end row --> 
            <div class="row dev-list text-center" style="padding: 10px">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <img src="uploads/team_01.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Soren Bo Bostian</h3>
                            <small>Senior Art Director</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <img src="uploads/team_02.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Bryan Saftler</h3>
                            <small>Creative Technologist Microsoft</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="widget clearfix">
                        <img src="uploads/team_03.jpg" alt="" class="img-fluid rounded-circle">
                        <div class="widget-title">
                            <h3>Matthew Bayliss</h3>
                            <small>Front End Developer</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn global-radius"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn global-radius"><i class="fa fa-github"></i></a>
                            
                            <a href="#" class="btn global-radius"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->
            </div><!-- end row --> 




        </div><!-- end container -->
    </div><!-- end section -->


</body>
</html>    